// app global css in SCSS form
.q_tab_size {
  font-size: 0.7rem;
  line-height: 1.815em;
  font-weight: 500;
}
.q_tab_size_md {
  font-size: 0.9rem;
  line-height: 2.2em;
  font-weight: 500;
}
.message_icon_hide {
  display: none;
}
